<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>{% block title %}{% endblock title %}</title>
{% block corcss %}    <link rel="stylesheet" href="{% static 'cor/css/bootstrap.css' %}" />{% endblock corcss %} 
   <link rel="stylesheet" href="{% static 'cor/css/bootstrap.css' %}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container-fluid bg-dark">
      <div class="row">
        {% block head %}{% endblock head %}
        <div class="col-md-10 ">
        {% block content %}{% endblock content %}
        </div>
       
      </div>
    </div>
 
    <link rel="stylesheet" href="{% static 'cor/js/jquery.js' %}" />
    <link rel="stylesheet" href="{% static 'cor/js/bootstrap.js' %}" />
<link rel="stylesheet" href="{% static 'cor/css/cor.css' %}">
    <link rel="stylesheet" href="{% static 'cor/js/popper.js' %}" />
  <div class="container">
  <div class="row bg-lightp  p-3" >
        <div class="col-sm-3">
        <i class="fab fa-facebook pr-3 " style="font-size:20px" ></i>
        <i class="fab fa-google pr-3" style="font-size:20px" ></i>
        <i class="fab fa-twitter-square pr-3" style="font-size:20px" ></i>
        <i class="fab fa-youtube-square pr-3" style="font-size:20px" ></i>
        </div>
        <div class="col-sm-9 d-flex justify-content-end">
        <i class="fas fa-envelope-square pr-4" style="color:black">muhammadusamabaig099@gmail.com</i>
        
        <i class="fas fa-phone-square " style="color:black">000-0000000-00</i>
        </div>
        </div>
  </div>
  </body>
</html>
