{% extends 'cor/base.html' %}
{% load static %}
{% block title %}HOME{% endblock title %}
{% block head %}

<div class="col-md-2 d-block border-right border-warning">
          <div class=" h-100">
            <div class="text-center">
              <img
                src="{% static 'cor/images/man.JPG ' %}"
                class="image-fluid rounded-circle mt-3"
                width="100px"
                height="110px"
                alt="profile_pic"
              />
              <h4 class="text-white mt-4" style="font-family: 'Satisfy', cursive">Muhammad Usama Baig</h4>
              <hr class="border-white" />
            </div>

            
            <nav>
            {% include 'cor/sidebare.html' with home=home %}
            {% include 'cor/navbar.html' %}
            </nav>
          </div>
        </div>
{% endblock head %}

<div class="col-md-2 d-block border-right border-warning">
          <div class=" h-100">
            <div class="text-center">
              <img
                src="{% static 'cor/images/man.JPG ' %}"
                class="image-fluid rounded-circle mt-3"
                width="100px"
                height="110px"
                alt="profile_pic"
              />
              <h4 class="text-white mt-4" style="font-family: 'Satisfy', cursive">Muhammad Usama Baig</h4>
              <hr class="border-white" />
            </div>

            
            <nav>
            {% include 'cor/sidebare.html'%}
            {% include 'cor/navbar.html' %}
            </nav>
          </div>
        </div>

{% block content %}

<div class="text-center mt-5">
<img src="{% static 'cor/images/man.jpg ' %}" class="img-thumbnail" width='130px' height='30px' alt="profile_pic"/>
</div>
<div>
<h4 style="font-family: 'Satisfy', cursive;font-weight:bold;color:white;">HELLO,</h4>
<p style='line-height:2em;color:white'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</p>
</div >
<div class="text-center">
<a href="" class="btn btn-outline-warning mr-3 ">Hire me</a>
<a href="" class="btn btn-outline-info ">Contact</a>

</div>
{% endblock content %}

