           <ul class="d-md-block d-none nav navbar-nav" >
              <a href="/" style="color:white;text-decoration:none"><li  class="nav-link {{home}}  btn btn-outline-warning">HOME</li></a>
              <a href="{% url 'services' %}" style="color:white;text-decoration:none" class="sidebar"><li  class="nav-link {{services}} btn btn-outline-warning mt-2">Services</li></a>
              <a href="/edu/education" style="color:white;text-decoration:none" class="sidebar"><li  class="nav-link {{education}} btn btn-outline-warning mt-2">Skills</li></a>
              <a href="/contact/" style="color:white;text-decoration:none" class="sidebar"><li  class="nav-link {{contact}} btn btn-outline-warning mt-2">Contact</li></a>
            
            </ul>